* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: white;
}

.logo {
    color: rgba(7, 66, 129, 0.9);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* HERO */
.hero {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
    background: url("images/hero.png") no-repeat center/cover;
}

.hero-content {
    width: 350px;
    padding: 25px;
    background: #DFE9F4;
    border-radius: 8px;
}

.hero-content h1 {
    color: rgba(7, 66, 129, 0.9);
}

.tagline {
    font-size: 14px;
}

.description {
    margin: 10px 0;
}

/* BUTTONS */

.btn-primary {
    margin-top: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    color: white;
    background: rgba(7, 66, 129, 0.9);
    cursor: pointer;
}

.btn-secondary{
     margin-top: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgba(7, 66, 129, 0.9);
    cursor: pointer;

}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2F5FF;
    padding: 20px;
}

.feature-card {
    text-align: center;
}

.feature-card i {
    font-size: 20px;
    margin-bottom: 5px;
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    gap: 40px;
}

.about-text {
    width: 50%;
}

.about-image img {
    width: 230px;
    margin-right: 260px;
}

/* CATEGORIES */
.categories {
    text-align: center;
    padding: 40px 20px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.category-card {
    width: 230px;
    height: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-size: cover;
}

/* individual backgrounds */
.category-card:nth-child(1) {
    background-image: url("images/dining.png");
}
.category-card:nth-child(2) {
    background-image: url("images/living-room.png");
}
.category-card:nth-child(3) {
    background-image: url("images/badroom.png");
}

/* HOW IT WORKS */
.how-it-works {
    text-align: center;
    padding: 40px 20px;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.step {
    text-align: center;
    width: 230px;
}

.step-card {
    width: 230px;
    height: 280px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* Background images */
.step1 {
    background-image: url("images/Purchase Securely.png");
}

.step2 {
    background-image: url("images/Ships From Warehouse.png");
}

.step3 {
    background-image: url("images/Style Your Room.png");
}

/* Text styling */
.step h3 {
    margin-top: 10px;
    font-size: 16px;
}

.step p {
    font-size: 13px;
    color: #555;
}

/* NEWSLETTER */
.newsletter {
    text-align: center;
    padding: 50px 20px;
}

.newsletter input {
    width: 300px;
    height: 45px;
    margin-top: 15px;
    padding: 10px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #0c3c5c;
    color: white;
}

.footer-left {
    width: 40%;
}

.footer-left p {
    font-size: 13px;
    margin: 15px 0;
    color: #ddd;
}

.footer-right {
    width: 50%;
}

.insta-images {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.insta-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.insta-images img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .hero {
        justify-content: center;
        padding: 20px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        width: 100%;
    }

    .category-container,
    .steps,
    .features {
        flex-direction: column;
        gap: 20px;
    }
}